
<br>
<section>
    <div class="container mt-5">
        <div class="row mb-4">
            <div class="col-xs-12 col-sm-8 col-md-10">
                <h2>Instrumentos</h2>
            </div>
        </div>
        <button type="button" class="btn btn-outline-primary btn-block mb-3" routerLink="/formulario/0">+Agregar</button>
        <div class="row">
            <div class="col-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Instrumento</th>
                            <th scope="col">Marca</th>
                            <th scope="col">Modelo</th>
                            <th scope="col">Precio</th>
                            <th scope="col">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let instrumento of instrumentos; ; index as i">
                            <th scope="row">{{i+1}}</th>
                            <td>{{instrumento.instrumento}}</td>
                            <td>{{instrumento.marca}}</td>
                            <td>{{instrumento.modelo}}</td>
                            <td>{{instrumento.precio}}</td>
                            <div  >
                            <td>
                                <button type="button" class="btn btn-success"  routerLink="/formulario/{{instrumento.id}}">Actualizar</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" (click)="delete(instrumento)">Eliminar</button>
                            </td>
                        </div>
                          

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>